
.hamster-wheel{
    position: absolute;
    top: 10px;
    left: 30px;
}

.eat-hamster-div{
position: relative;
margin: 50px auto;
max-width: 600px;
font-size: 3rem;

}

.eating-hamster{
    position: absolute;
    top: 40px;
    left: 50px;
}